.container{
    display:flex;
    flex-wrap: wrap;
    margin: 0 20vh;
}
.hook_div{
    text-align: center;
    padding: 10vh 0px;
    flex: 1 0 50%;
    font-size: 5vh;
}
.hook_div button{
    width: 20vh;
    height: 4vh;
}